@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #04536A;
    height: 100px;
} 

img {
    width: 80px;
}

img.logo {
    float: left;
    display: inline;
    padding: 10px;
}

#title {
    color: white;
    line-height: 100px;
    font-size: 20px;
    font-weight: bolder;
}

fieldset {
    width: 250px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px;
}

label, button.entrar {
    margin-left: 20px;
    font-weight: bolder;
}

.input-text {
    border: 1px solid rgba(0,0,0,.4);
    padding: 8px 5px;
    border-radius: 5px 5px;
    display: block;
    margin: 0 auto 10px auto;
    width: 200px;
}

.entrar {
    padding: 10px;
    background-color: #04536A;
    border: none;
    color: white;
    border-radius: 5px 5px;
    width: 210px;
}

.entrar:hover {
    background-color: #539CC7;
    transition: 1s;
}

#span-form {
    display: block;
    background-color: rgba(0,0,0,.1);
    width: 250px;
    margin: 30px auto 0px auto;
    border: 1px solid rgba(0,0,0,.4);
    padding: 20px;
}

section {
    border: 1px solid red;
    padding: 20px;
}